*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Cairo', sans-serif;
}



header{
    margin-top: 40px;
}

header img{
    width: 120px;
}

.img-1{
    position: absolute;
    top: 22px;
    right: 160px;
}


header .content-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.content-1 p{
    margin: 0 20px;
    font-size: 20px;

}

.content-1 i {
    color: red;
    font-size: 50px;
}

.sec-1 img{
    width: 250px;
    padding: 30px;
}

.img-2{
    border-right: 1px #6c757db0 solid;
}

.footer-end{
    color: gray;
    padding: 20px 0;
    font-size: 14px;

}

.footer-end i{
    margin: 0 4px;

}
.footer-end a{
    color: gray;
}

.wow{
    animation-delay: 3s;
}

@media only screen and (max-width: 600px){
    header img{
        width: 40px;
    }
    
    .img-1{
        top: 32px;
        right: 35px;
    }
       
    header .content-1{
        justify-content: end;
    }
    .content-1 p{
        margin: 0 15px;
        font-size: 10px;
    
    }
    
    .content-1 i {
        font-size: 15px;
    }
    
    .sec-1 img{
        width: 230px;
        padding: 30px;
    }
    
    .img-2{
        border-right: none;
    }
    

    .footer-end h6{
        font-size: 11px;
    }
    .footer-end i{
        margin: 0 4px;    
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .img-1{
        right: 50px;
    }

    header .content-1{
        justify-content: end;
    }

}